<header>

  <div class="header-text">
    <h1>
      ようこそ
      <strong class="strong-text">Bookers</strong>
      へ！
    </h1>
  </div>

</header>

<main>

  <div class="main-text">
    <p>
      <div class="top-text">
        <strong class="strong-text">Bookers</strong>
      ではさまざまな書籍に関するあなたの意見や<br>
      </div>
      <div class="top-text">
        印象を共有し交換することができます
      </div>

    </p>
    <div class="top-text">
      <p><%= link_to 'start', books_path %></p>
    </div>
  </div>

</main>
